{
  "extends": "airbnb-base/legacy",
  "rules": {
    "vars-on-top": ["off"],
    "func-names": ["off"],
    "no-use-before-define": ["off"],
    "consistent-return": ["off"],
    "no-prototype-builtins": ["off"],
    "no-restricted-syntax": ["off"],
    "no-param-reassign": ["off"],
    "no-underscore-dangle": ["off"],
    "no-new": ["off"]
  }
}
